langchain
langgraph
langchain_community
langchain_core
langchain_groq
langchain_openai
faiss-cpu
streamlit
tavily-python
pypdf
numpy
tiktoken 
openai 
python-dotenv
uvicorn
fastapi
pinecone
pinecone[grpc]